@import "tailwindcss";

:root {
  --background: #ffffff;
  --blue-light: #e0f2ff;
  --blue-primary: #3b82f6;
  --blue-dark: #1e40af;
  --foreground: #171717;


    
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
